.brand-logo {
  color : antiquewhite;
}
.blue {
  background-color : rgb(0, 155, 226);
}
.blue2 {
  background-color : rgb(16, 77, 105);
}
.all {
  background-color: black;
}
.parallax-container {
  height: 25em
}

.normalertext {
  font-size: 2em;
}
.bw{
  font-size: 1.4em;
}

h1 {
  text-shadow: 0.1em 0.1em 0.1em black;
}
.dropdown-content > li:hover {
  background-color: rgb(0, 155, 226);
}
li:hover {
  background-color: rgb(16, 77, 105);
}
.dropdown-content > li > a:hover, .dropdown-menu > li > a:focus {
  background-image:none !important;
}
.dropdown-content > li > a:hover, .dropdown-menu > li > a:focus {
  background-color:rgb(0, 155, 226);
}

.bl-sm {
  font-size: 0.8em;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: rgb(0, 155, 226);
  box-shadow: 0 1px 0 0 rgb(16, 77, 105)
}

input[type=range]::-webkit-slider-thumb {
  background-color:rgb(16, 77, 105);
}

input[type=range]+.thumb{
  background-color: rgb(16, 77, 105);
}

.input-field textarea:focus + label {
  color: rgb(0, 155, 226) !important;
}

.row .input-field textarea:focus {
  border-bottom: 1px solid rgb(0, 155, 226)!important;
  box-shadow: 0 1px 0 0 rgb(0, 155, 226) !important;
}

.cropped {
  position: relative;
  width: 50%;
}

.cropped:after {
  content: "";
  display: block;
  padding-bottom: 10%;
}

.imgcenter {
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.cardtextsize {
  font-size: 0.75em;
}

.centert {
  display: flex !important; 
  justify-content: center !important;
  flex-direction: column !important;
}

.pfl-nm {
  font-style: italic;
}

.aq1 {
  margin-bottom: 3em;
}

.lb-image, .lb-dataContainer {
  max-width: 100%;
  height: auto !important;
  width: 100%;
 }
 
 .lb-outerContainer {
  max-width: 100%;
  height: auto !important;
 }

 .technik {
   position: fixed;
 }

 .technik-container {
   height: 140vh !important;
}


.technik-text {
  background-color: rgb(0, 155, 226);
  outline:1px solid white;
  position: absolute;
  width: 60%;
  height: auto;
  left: 20%;
  top: 20%;
  z-index: 6;
  display: none;
}

.technik-p {
  margin: 3px;
}

.technik-text-1 {
  left: 20%;
  top: 20%
}

.btn-small {
  width: 10px !important;
  height: 10px !important;
}

i.resp-icon {
  color:rgb(0, 155, 226);
}

.technik-btn-1 {
  position: absolute;
  top: 5%;
  left: 0%;
}


.technik-btn-1:hover + .technik-text {
  display: block;
  position: absolute;
 }


.technik-btn-2 {
  position: absolute;
  top: 20%;
  left: 15%;
}

.technik-btn-2:hover + .technik-text {
  display: block;
  position: absolute;
 }

 .technik-btn-3 {
  position: absolute;
  top: 68%;
  left: 30%;
}

.technik-btn-3:hover + .technik-text {
  display: block;
  position: absolute;
 }

 .technik-btn-4 {
  position: absolute;
  top: 75%;
  left: 30%;
}


.technik-btn-4:hover + .technik-text {
  display: block;
  position: absolute;
 }
 .technik-btn-5 {
  position: absolute;
  top: 82%;
  left: 30%;
}

.technik-btn-5:hover + .technik-text {
  display: block;
  position: absolute;
 }

 .technik-btn-6 {
  position: absolute;
  top: 12%;
  left: 0%;
}

.technik-btn-6:hover + .technik-text {
  display: block;
  position: absolute;
 }

 .technik-btn-7 {
  position: absolute;
  top: 19%;
  left: 0%;
}

.technik-btn-7:hover + .technik-text {
  display: block;
  position: absolute;
 }
 
 .technik-btn-8 {
  position: absolute;
  top: 11%;
  left: 32%;
}

.technik-btn-8:hover + .technik-text {
  display: block;
  position: absolute;
 }

 .technik-btn-9 {
  position: absolute;
  top: 50%;
  left: 39%;
}

.technik-btn-9:hover + .technik-text {
  display: block;
  position: absolute;
 }

 .technik-btn-10 {
  position: absolute;
  top: 1%;
  left: 45%;
}

.technik-btn-10:hover + .technik-text {
  display: block;
  position: absolute;
 }

 .technik-btn-11 {
  position: absolute;
  top: 40%;
  left: 84%;
}

.technik-btn-11:hover + .technik-text {
  display: block;
  position: absolute;
 }

 .technik-btn-12 {
  position: absolute;
  top: 48%;
  left: 74%;
}

.technik-btn-12:hover + .technik-text {
  display: block;
  position: absolute;
 }

.page-footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
 
@media(min-width: 35em) {
  .bl-sm {
    font-size: 1em;
  }
  .cropped {
    height: 20vw;
    width: 20vw;
    overflow: hidden;
    border: none;
  }
  .cardtextsize {
    font-size: 1.2em;
  }
  .btn-small {
    width: 20px !important;
    height: 20px !important;
  }
}

@media(min-width: 50em) {
  .bl-sm {
    font-size: 1em;
  }
  .cropped {
    height: 20vw;
    width: 20vw;
    overflow: hidden;
    border: none;
  }
  .cardtextsize {
    font-size: 1.5em;
  }
  .btn-small {
    width: 30px !important;
    height: 30px !important;
  }

  i.resp-icon {
    color:rgb(255, 255, 255);
  }
}

@media(min-width: 80em) {
  .cardtextsize {
    font-size: 2.15em;
  }
  .technik-text {
    float:right;
  }
}
